In [1]:
import geopandas as gpd

In [2]:
Census = gpd.read_file('../Week02/census tract (2012).shp')

In [3]:
#This dataset is from the Los Angeles Times' "Mapping L.A. Boundaries" page

In [4]:
Census.shape

(2346, 19)

In [5]:
#The .shape command shows that there are 2346 columns and 19 rows in the shape file.

In [6]:
Census.info

<bound method DataFrame.info of                                slug                   set  \
0     06037101110-census-tract-2012  Census Tracts (2012)
1     06037101122-census-tract-2012  Census Tracts (2012)
2     06037101210-census-tract-2012  Census Tracts (2012)
3     06037101220-census-tract-2012  Census Tracts (2012)
4     06037101300-census-tract-2012  Census Tracts (2012)
...                             ...                   ...
2341  06037980031-census-tract-2012  Census Tracts (2012)
2342  06037980033-census-tract-2012  Census Tracts (2012)
2343  06037990100-census-tract-2012  Census Tracts (2012)
2344  06037990200-census-tract-2012  Census Tracts (2012)
2345  06037990300-census-tract-2012  Census Tracts (2012)

                     kind   external_i     name  \
0     Census Tract (2012)  06037101110  1011.10
1     Census Tract (2012)  06037101122  1011.22
2     Census Tract (2012)  06037101210  1012.10
3     Census Tract (2012)  06037101220  1012.20
4     Census Tract (2012)  06037101300     1013
...                   ...          ...      ...
2341  Census Tract (2012)  06037980031  9800.31
2342  Census Tract (2012)  06037980033  9800.33
2343  Census Tract (2012)  06037990100     9901
2344  Census Tract (2012)  06037990200     9902
2345  Census Tract (2012)  06037990300     9903

                           display_na     INTPTLAT NAME_1      INTPTLON  \
0     06037101110 Census Tract (2012)  +34.2594737   None  -118.2929869
1     06037101122 Census Tract (2012)  +34.2677213   None  -118.2901465
2     06037101210 Census Tract (2012)  +34.2529724   None  -118.2907309
3     06037101220 Census Tract (2012)  +34.2516085   None  -118.2816322
4     06037101300 Census Tract (2012)  +34.2487732   None  -118.2709976
...                               ...          ...    ...           ...
2341  06037980031 Census Tract (2012)  +33.7338344   None  -118.2627274
2342  06037980033 Census Tract (2012)  +33.7443155   None  -118.2203101
2343  06037990100 Census Tract (2012)  +33.9991909   None  -118.7921876
2344  06037990200 Census Tract (2012)  +33.9135868   None  -118.4928693
2345  06037990300 Census Tract (2012)  +33.6975355   None  -118.3467756

     FUNCSTAT        GEOID     AWATER COUNTYFP              NAMELSAD  MTFCC  \
0           S  06037101110          0      037  Census Tract 1011.10  G5020
1           S  06037101122          0      037  Census Tract 1011.22  G5020
2           S  06037101210          0      037  Census Tract 1012.10  G5020
3           S  06037101220          0      037  Census Tract 1012.20  G5020
4           S  06037101300          0      037     Census Tract 1013  G5020
...       ...          ...        ...      ...                   ...    ...
2341        S  06037980031   13318970      037  Census Tract 9800.31  G5020
2342        S  06037980033   16041385      037  Census Tract 9800.33  G5020
2343        S  06037990100  172776519      037     Census Tract 9901  G5020
2344        S  06037990200  207469766      037     Census Tract 9902  G5020
2345        S  06037990300  148837924      037     Census Tract 9903  G5020

     TRACTCE STATEFP     ALAND  \
0     101110      06   1142405
1     101122      06   2644042
2     101210      06    650691
3     101220      06    698969
4     101300      06   2581129
...      ...     ...       ...
2341  980031      06  12598244
2342  980033      06  12678792
2343  990100      06         0
2344  990200      06         0
2345  990300      06         0

                                               geometry
0     POLYGON ((-118.30229 34.25870, -118.30079 34.2...
1     POLYGON ((-118.30333 34.27354, -118.30318 34.2...
2     POLYGON ((-118.29945 34.25598, -118.28592 34.2...
3     POLYGON ((-118.28592 34.24896, -118.28592 34.2...
4     POLYGON ((-118.27247 34.23253, -118.27194 34.2...
...                                                 ...
2341  POLYGON ((-118.28530 33.70860, -118.28337 33.7...
2342  POLYGON ((-118.24463 33.71077, -118.23180 33.7...
2343  POLYGON ((-118.95114 33.99643, -118.95056 34.0...
2344  POLYGON ((-118.63168 34.00001, -118.63598 34.0...
2345  POLYGON ((-118.48228 33.74869, -118.47656 33.7...

[2346 rows x 19 columns]>

In [7]:
#The .info command provides you with a description regarding the dataframe of the uploaded dataset.

In [8]:
Census.head()

,slug,set,kind,external_i,name,display_na,INTPTLAT,NAME_1,INTPTLON,FUNCSTAT,GEOID,AWATER,COUNTYFP,NAMELSAD,MTFCC,TRACTCE,STATEFP,ALAND,geometry
0,06037101110-census-tract-2012,Census Tracts (2012),Census Tract (2012),06037101110,1011.10,06037101110 Census Tract (2012),+34.2594737,None,-118.2929869,S,06037101110,0,037,Census Tract 1011.10,G5020,101110,06,1142405,"POLYGON ((-118.30229 34.25870, -118.30079 34.2..."
1,06037101122-census-tract-2012,Census Tracts (2012),Census Tract (2012),06037101122,1011.22,06037101122 Census Tract (2012),+34.2677213,None,-118.2901465,S,06037101122,0,037,Census Tract 1011.22,G5020,101122,06,2644042,"POLYGON ((-118.30333 34.27354, -118.30318 34.2..."
2,06037101210-census-tract-2012,Census Tracts (2012),Census Tract (2012),06037101210,1012.10,06037101210 Census Tract (2012),+34.2529724,None,-118.2907309,S,06037101210,0,037,Census Tract 1012.10,G5020,101210,06,650691,"POLYGON ((-118.29945 34.25598, -118.28592 34.2..."
3,06037101220-census-tract-2012,Census Tracts (2012),Census Tract (2012),06037101220,1012.20,06037101220 Census Tract (2012),+34.2516085,None,-118.2816322,S,06037101220,0,037,Census Tract 1012.20,G5020,101220,06,698969,"POLYGON ((-118.28592 34.24896, -118.28592 34.2..."
4,06037101300-census-tract-2012,Census Tracts (2012),Census Tract (2012),06037101300,1013,06037101300 Census Tract (2012),+34.2487732,None,-118.2709976,S,06037101300,0,037,Census Tract 1013,G5020,101300,06,2581129,"POLYGON ((-118.27247 34.23253, -118.27194 34.2..."

In [9]:
#The .head() command prompt shows you the first 5 rows of the dataframe.

In [10]:
Census.tail()

,slug,set,kind,external_i,name,display_na,INTPTLAT,NAME_1,INTPTLON,FUNCSTAT,GEOID,AWATER,COUNTYFP,NAMELSAD,MTFCC,TRACTCE,STATEFP,ALAND,geometry
2341,06037980031-census-tract-2012,Census Tracts (2012),Census Tract (2012),06037980031,9800.31,06037980031 Census Tract (2012),+33.7338344,None,-118.2627274,S,06037980031,13318970,037,Census Tract 9800.31,G5020,980031,06,12598244,"POLYGON ((-118.28530 33.70860, -118.28337 33.7..."
2342,06037980033-census-tract-2012,Census Tracts (2012),Census Tract (2012),06037980033,9800.33,06037980033 Census Tract (2012),+33.7443155,None,-118.2203101,S,06037980033,16041385,037,Census Tract 9800.33,G5020,980033,06,12678792,"POLYGON ((-118.24463 33.71077, -118.23180 33.7..."
2343,06037990100-census-tract-2012,Census Tracts (2012),Census Tract (2012),06037990100,9901,06037990100 Census Tract (2012),+33.9991909,None,-118.7921876,S,06037990100,172776519,037,Census Tract 9901,G5020,990100,06,0,"POLYGON ((-118.95114 33.99643, -118.95056 34.0..."
2344,06037990200-census-tract-2012,Census Tracts (2012),Census Tract (2012),06037990200,9902,06037990200 Census Tract (2012),+33.9135868,None,-118.4928693,S,06037990200,207469766,037,Census Tract 9902,G5020,990200,06,0,"POLYGON ((-118.63168 34.00001, -118.63598 34.0..."
2345,06037990300-census-tract-2012,Census Tracts (2012),Census Tract (2012),06037990300,9903,06037990300 Census Tract (2012),+33.6975355,None,-118.3467756,S,06037990300,148837924,037,Census Tract 9903,G5020,990300,06,0,"POLYGON ((-118.48228 33.74869, -118.47656 33.7..."

In [11]:
#The .tail command shows the last 5 rows and columns of the dataset.

In [12]:
type(Census)

geopandas.geodataframe.GeoDataFrame

In [13]:
#The type() command shows you what your data type is

In [14]:
Census.sample()

,slug,set,kind,external_i,name,display_na,INTPTLAT,NAME_1,INTPTLON,FUNCSTAT,GEOID,AWATER,COUNTYFP,NAMELSAD,MTFCC,TRACTCE,STATEFP,ALAND,geometry
1690,06037542501-census-tract-2012,Census Tracts (2012),Census Tract (2012),06037542501,5425.01,06037542501 Census Tract (2012),+33.8907006,None,-118.2367479,S,06037542501,7732,037,Census Tract 5425.01,G5020,542501,06,577487,"POLYGON ((-118.24273 33.89279, -118.24276 33.8..."

In [15]:
# The .sample() command provides you with a random sample from your dataset.